@charset "utf-8";

body {
  margin: 0;
  padding: 2em 2em;
  /* padding: 2em calc(1.5em + 5vw); */
}

body, input, textarea {
  font-family: "YuMincho", "游明朝",  "Hiragino Mincho ProN", serif;
}

.kyocho{
  color: red;
  font-size: 120%;
}

h2{
  border-bottom: 3px solid black;
}

h3{
background: black;
color: white;
padding:1px 10px;
}

h4{
  border-bottom: 2px solid black;
}

.kakomi{
 border: 4px darkslategray dotted;
 margin:3px;
 padding:1% ;
}



#output{
    font-family: "Hiragino Mincho ProN", "YuMincho", "游明朝", 'Noto Serif JP', serif;
  }

p {
  margin: 0 0 .25em;
}

#input,#shogo {
  width: 90%;
  height: 6em;
  font-size: 100%;
  line-height: 1.5;
}

#output span {
  width: 80%;
  font-size: 100%;
  line-height: 1.5;
}

.newline {
  display: block;
}

.kanji {
  position: relative;
  background: yellow;
}

.kanji.joyo {
  background: transparent;
}

.kanji.jitai {
  color: red;
}

.kanji2 {
  position: relative;
  background: yellow;
  font-size: 160%;
}

.kanji2.joyo {
  background: transparent;
  font-size: 160%;
}

.kanji2.jitai {
  color: red;
  font-size: 160%;
}


.kanji.shikaru {
  color: black;
}


.kanji.itaijiselect {
  color: red;
}


.kyoiku::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  margin: -0.9em 0 0 -0.5em;
  font-size: 50%;
  text-align: center;
  color: #4af;
}

.y1:after {
  content: "1";
}

.y2:after {
  content: "2";
}

.y3:after {
  content: "3";
}

.y4:after {
  content: "4";
}

.y5:after {
  content: "5";
}

.y6:after {
  content: "6";